# List
 1) List is an ordered sequence of items.
 2) We can have different data types under a list. E.g we can have integer, float and string items in a same list.

In [2]:
list1 = [] # Empty List

In [3]:
print(type(list1))

<class 'list'>

In [10]:
list2 = [10,30, 60]   # List of integers numbeers

In [11]:
list3 = [10.0, 30.50, 60.1] # List if float numbers

In [12]:
list4 = ['one','two' , "three"] # List of strings

In [13]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [14]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [15]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [16]:
len(list6) #Length of list

3

In [17]:
list2[0] # Retreive first element of the list

10

In [18]:
list4[0] # Retreive first element of the list

'one'

In [19]:
list4[0][0] # Nested indexing - Access the first character of the first list element

'o'

In [20]:
list4[-1] # Last item of the list

'three'

In [21]:
list4[-1] # Last item of the list

'three'

In [22]:
list5[-1] # Last item of the list

[150, 90]

## List Slicing

In [23]:
mylist = ['one' , 'two' , 'three' , 'four' ,'five' ,'six', 'seven' , 'eight' ]

In [24]:
mylist[0:3] # Retuen all ityems from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [25]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item a

['three', 'four', 'five']

In [26]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [27]:
mylist[:2] # Return first two items

['one', 'two']

In [28]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [29]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [30]:
mylist[-1] # Return last item of the list

'eight'

In [31]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items

In [42]:
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [36]:
mylist.append('nine') # Add an item to the end of the list 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [37]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [38]:
mylist.insert(1,'ONE') # Add item at index location 1 
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [39]:
mylist.remove('ONE') # Remove item "ONE" not remove because the latter is write is captail
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [40]:
mylist.remove('one') # Remove item "ONE" 
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [43]:
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [44]:
mylist.pop() # Remove last item of the list 
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [47]:
mylist.pop(7) # Remove item at index location 8 
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [49]:
del mylist[6] # Remove item at index location 7 
mylist

['two', 'three', 'four', 'five', 'six', 'seven']

In [50]:
# Change value of the string
mylist[0] = 1 
mylist[1] = 2 
mylist[2] = 3 
mylist

[1, 2, 3, 'five', 'six', 'seven']

In [51]:
mylist.clear() # Empty List / Delete all items in the list 
mylist

[]

In [52]:
del mylist # Delete the whole list 
mylist

NameError: name 'mylist' is not defined

### Copy List

In [53]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight' , 'nine' ,'ten']

In [55]:
mylist1 = mylist # Create a new reference "mylist1"

In [56]:
id(mylist) , id(mylist1) # The address of both mylist will be the same

(2598556906496, 2598556906496)

In [57]:
mylist2 = mylist.copy() # Create a copy of the list

In [58]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

2598556940032

In [59]:
mylist[0] = 1

In [60]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [61]:
mylist1 # mylist will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [62]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### join lists

In [63]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven', 'eight']

In [64]:
list3 = list1 + list2 # Join two lists by '+' operator 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [65]:
list1.extend(list2) #Append list2 with list1 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### List Membership

In [66]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [67]:
'one' in list1 # Check if 'one' exist in the list

True

In [68]:
'ten' in list1 # Check if 'one' exist in the list

False

In [70]:
if 'three' in list1: # Check if 'three' exist in the list 
   print('Three is present in the list') 
else: 
   print('Three is not present in the list')

Three is present in the list

In [71]:
if 'eleven' in list1: # Check if 'eleven' exist in the list 
    print('eleven is present in the list') 
else: 
    print('eleven is not present in the list')

eleven is not present in the list

### Reverse & Sort list

In [72]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [73]:
list1.reverse() # Reverse the list 
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [74]:
list1 = list1[::-1] # Reverse the list 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [75]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort() # Sort list in ascending order 
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [76]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort(reverse=True) # Sort list in descending order 
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [77]:
mylist4 = [88,65,33,21,11,98] 
sorted(mylist4)    # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [78]:
mylist4

[88, 65, 33, 21, 11, 98]

### Loop through a list

In [79]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [81]:
for i in list1: 
   print(i)

one
two
three
four
five
six
seven
eight

In [82]:
for i in enumerate(list1): 
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### count

In [84]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [85]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [86]:
list10.count('two') # Occurence of item 'two' in the list

2

In [87]:
list10.count('four') #Occurence of item 'four' in the list

1

### All/Any

the all() method returns:
  1.) True - if all element in a list are true
  2.) False - if any element in a list is false.
The any() functin returns True if any element in the list is True. if not, any() returns False .

In [90]:
L1 = [1,2,3,4,0]

In [92]:
all(L1)  # Will Return false as one value is false (Value 0)

False

In [93]:
any(L1) # Will Return True as we have items in the list with True value

True

In [94]:
L2 = [1,2,3,4,True,False]

In [95]:
all(L2) # Returns false as one value is false

False

In [96]:
any(L2) # Will Return True as we have items in the list with True value

True

In [97]:
L3 = [1,2,3,True]

In [98]:
all(L3)

True

# TUPLE
### Tuple Creation

In [101]:
tup1 = () # Empty Tuple

In [102]:
tup2 = (10,30,60)  # tuple of integers numbers

In [104]:
tem3 = (10.33,30.34,60.55)  # tuple of float number

In [105]:
tup4 = ('one','two','three')   #tuple of strings

In [2]:
tup5 = ('Asif', 25,(50,100),(150,90 ))  # Nested tuples

In [107]:
tup6 = (100, 'asif', 17.764)  # Tuple of mixed data types

In [113]:
tup7 = ('asif',25,[50,100],[150,90],{'john','devid'} ,(99,22,33))

In [114]:
len(tup7)  #Length of List

6

##  Tuple Indexing

In [116]:
tup2[0] #Retreive first element of the tuple

10

In [117]:
tup4[0]   # Retreive first element of the tuple

'one'

In [118]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [119]:
tup4[-1] # last item of the tuple

'three'

In [3]:
tup5[-1]  # Last item of the tuple

(150, 90)

### Tuple Slicing

In [4]:
mytuple = ('one' , 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [5]:
mytuple[0:3] # Return all item form 0th to 3rd index location excluding the items

('one', 'two', 'three')

In [6]:
mytuple[2:5] # Return all item form 2nd to 5th index location excluding the items

('three', 'four', 'five')

In [7]:
mytuple[ :3] # Return first three items

('one', 'two', 'three')

In [8]:
mytuple[ :2] # Return first three items

('one', 'two')

In [9]:
mytuple[-3 :] # Return Last three items

('six', 'seven', 'eight')

In [10]:
mytuple[-2 :] # Return Last three items

('seven', 'eight')

In [11]:
mytuple[-3 :] # Return Last three items

('six', 'seven', 'eight')

In [12]:
mytuple[-1 :] # Return Last three items

('eight',)

In [13]:
mytuple[ :] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove & Change Items

In [14]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [15]:
del mytuple[0] # tuple are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [16]:
mytuple[0] = 1 # Tuple are immutable which means we can't CHANGE tuple item

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple # Deleting entire tuple object is possible

### Long through a tuple

In [17]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [18]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [19]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Tuple Membership

In [20]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [21]:
'one' in mytuple # Check if 'one' exist in the list

True

In [22]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [23]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('three is present in the tuple')
else:
    print('three is not present in the tuple')

three is present in the tuple

In [24]:
if 'Eleven' in mytuple: # Check if 'Eleven' exist in the list
    print('Eleven is present in the tuple')
else:
    print('Eleven is not present in the tuple')

Eleven is not present in the tuple

### index Position

In [25]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [26]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [27]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [29]:
mytuple1 = ('one', 'two', 'three', 'four', 'one' 'two', 'three')

In [30]:
mytuple1

('one', 'two', 'three', 'four', 'onetwo', 'three')

In [31]:
mytuple.index('one')  #Index of first element equal to 'one'

0

### Sorting

In [34]:
mytuple2 = (43,67,99,12,6,90,67)

In [35]:
sorted(mytuple2)  # Returns a new sorted list and doesn't charge original tuple

[6, 12, 43, 67, 67, 90, 99]

In [36]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

# SET

In [2]:
s = {}
type(s)

dict

In [3]:
s = set()
s

set()

In [4]:
type(s)

set

In [7]:
s1 = {90,80,3,13,47,100,1}
s1

{1, 3, 13, 47, 80, 90, 100}

In [13]:
s2 = {4,'nit',2.3, True,'1+2j'}
s2

{'1+2j', 2.3, 4, True, 'nit'}

In [14]:
s1

{1, 3, 13, 47, 80, 90, 100}

In [15]:
s1.add(200)  # Extra add the set number
s1

{1, 3, 13, 47, 80, 90, 100, 200}

In [19]:
s1.add(10)
s1

{1, 3, 10, 13, 47, 80, 90, 100, 200}

In [20]:
s1

{1, 3, 10, 13, 47, 80, 90, 100, 200}

In [21]:
s3 = s1.copy() # copyset
s3

{1, 3, 10, 13, 47, 80, 90, 100, 200}

In [22]:
s1 == s3

True

In [23]:
len(s3) # Length of the set

9

In [24]:
s3

{1, 3, 10, 13, 47, 80, 90, 100, 200}

In [25]:
s3.clear()
s3

set()

In [26]:
len(s3)

0

In [27]:
s1

{1, 3, 10, 13, 47, 80, 90, 100, 200}

In [28]:
s1[:]

TypeError: 'set' object is not subscriptable

In [29]:
s1

{1, 3, 10, 13, 47, 80, 90, 100, 200}

In [30]:
s1.pop

In [31]:
s1.pop()

1

In [32]:
s1

{3, 10, 13, 47, 80, 90, 100, 200}

In [33]:
s1.pop()
s1

{10, 13, 47, 80, 90, 100, 200}

In [34]:
s1

{10, 13, 47, 80, 90, 100, 200}

In [35]:
s1.pop(10)

TypeError: set.pop() takes no arguments (1 given)

In [36]:
s1

{10, 13, 47, 80, 90, 100, 200}

In [37]:
s1.remove(1000)# Remove items

KeyError: 1000

In [38]:
s1.discard(1000)

In [39]:
s1

{10, 13, 47, 80, 90, 100, 200}

In [40]:
s1.remove(47)
s1

{10, 13, 80, 90, 100, 200}

In [41]:
s1.discard(200)
s1

{10, 13, 80, 90, 100}

In [ ]:
### basic set function we are completed

In [42]:
for i in s1:
    print(i)

10
13
80
90
100

In [43]:
for i in enumerate(s1):
    print(i)

(0, 10)
(1, 13)
(2, 80)
(3, 90)
(4, 100)

In [44]:
s1

{10, 13, 80, 90, 100}

In [45]:
s1.update([1,2])
s1

{1, 2, 10, 13, 80, 90, 100}

### set Operation

### Union

In [1]:
A= {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [2]:
 A| B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:

A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:

""" 
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C. 
""" 
A.update(B,C) 
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### intersection

In [6]:
 
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [7]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [8]:
A.intersection(B) Intersection of A and B 
File "<ipython-input-764-f01b60f4d31d>", line 1 
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (1816432559.py, line 1)

In [9]:
 
""" 
Updates the set calling the intersection_update() method with the intersection o 
For below example Set A will be updated with the intersection of A & B. 
""" 
A.intersection_update(B) 
A

{4, 5}

### Difference

In [10]:
 
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [11]:
 
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [12]:
 
A.difference(B) # Difference of sets

{1, 2, 3}

In [13]:
 
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [14]:
 
B.difference(A)

{6, 7, 8}

In [15]:
""" 
Updates the set calling the difference_update() method with the difference of se 
For below example Set B will be updated with the difference of B & A. 
""" 
B.difference_update(A)
B

{6, 7, 8}

### Symmetric Difference

In [16]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [17]:
 
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLU

{1, 2, 3, 6, 7, 8}

In [18]:
 
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [19]:

""" 
Updates the set calling the symmetric_difference_update() method with the symmet 
For below example Set A will be updated with the symmetric difference of A & B. 
""" 
A.symmetric_difference_update(B) 
A

{1, 2, 3, 6, 7, 8}

### Subset, Superset & Disjoint

In [20]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [21]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [22]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [23]:
 
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

True

In [24]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

False

### Other Builtin functions

In [25]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
sum(A)

45

In [27]:
max(A)

9

In [28]:
min(A)

1

In [29]:
len(A)

9

In [30]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [31]:
D= sorted(A,reverse=True) 
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
 
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]