In [1]:
b = '5'
type(b)

str

In [2]:
a = 6
a

6

In [3]:
a1 = 7
a1

7

In [4]:
a

6

a1

In [5]:
b

'5'

In [6]:
a1

7

In [7]:
a ='5'
type(a)

str

In [8]:
import sys
sys.version

'3.13.3 (tags/v3.13.3:6280bb5, Apr  8 2025, 14:47:33) [MSC v.1943 64 bit (AMD64)]'

In [9]:
a = 5
type(a)

int

In [10]:
6 = b

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1218098064.py, line 1)

In [11]:
## Verify if python is installed
import sys 
sys.version

'3.13.3 (tags/v3.13.3:6280bb5, Apr  8 2025, 14:47:33) [MSC v.1943 64 bit (AMD64)]'

In [19]:
#Integer

# INTEGER

In [22]:
a = 2
type(a)

int

In [24]:
b = 22254353
type(b)

int

# FLOATING

In [25]:
PI = 3.14
TYPE(PI)

NameError: name 'TYPE' is not defined

In [26]:
pi = 3.14
type(pi)

float

In [27]:
# String
c = 'A'
type(c)

str

In [28]:
name = 'John Doe'
print(name)
type(name)

John Doe

str

In [30]:
# Boolean 
q = true
type(q)

NameError: name 'true' is not defined

In [31]:
q = True
type(q)

bool

In [32]:
q = True
print(q)

True

In [34]:
# Empty value or null data type
X = None
print(X)

None

In [35]:
# Variable assinnment works from left to right. so the following will give you an syntax error.
5 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2312009269.py, line 2)

In [37]:
x = 5
x

5

In [ ]:
# 7th page continue onward

In [38]:
ABC = 50
AB

NameError: name 'AB' is not defined

In [39]:
NIT = 4567
nit

NameError: name 'nit' is not defined

In [40]:
cash = 12
cash

12

In [41]:
cash123 = 12 
cash

12

In [42]:
123cash = 13
123cash

SyntaxError: invalid decimal literal (2725672161.py, line 1)

In [43]:
# x = 10 # x is the variable & 10 is the value
cash = 10 # Identifer rule alphabet 
# ca$h = 10 # $ - symbole is not allowed in python identifer but in java is allowerd
# ca$h
cash

10

In [44]:
ca$h = 20
ca$h

SyntaxError: invalid syntax (1112431759.py, line 1)

In [45]:
ca*h = 20 
ca*h

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (894760832.py, line 1)

In [46]:
CASH = 3
CASH

3

In [47]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # digit rules identifier
123total = 30 
123total 
#sum123

SyntaxError: invalid decimal literal (2959206641.py, line 3)

In [48]:
# <3> Identifierss are case sensitive 
# total = 10  # Python are case sensitive
Abcde = 20
# total
Abcde

20

In [49]:
new =30
NEW

NameError: name 'NEW' is not defined

In [50]:
Total5 = 30
TOTAL

NameError: name 'TOTAL' is not defined

In [51]:
ddef = 4.6
def

SyntaxError: invalid syntax (2055522919.py, line 2)

In [52]:
DEF = 4
DEF

4

In [53]:
if = 780
if

SyntaxError: invalid syntax (1979711427.py, line 1)

In [55]:
DEF = 5.6
DEF
#def is key work

5.6

In [56]:
def = 7
def

SyntaxError: invalid syntax (1075677671.py, line 1)

In [57]:
# <4> Keywords can not be assigned as identifier
# if = 10 # if is keyword
# DEF = 20 # ddef is keyword
for = 50
#DEF
#if
for

SyntaxError: invalid syntax (1774739991.py, line 4)

In [58]:
for = 58
for

SyntaxError: invalid syntax (1164500892.py, line 1)

In [59]:
FOR = 58
FOR

58

In [60]:
def = 30 
def

SyntaxError: invalid syntax (2423585350.py, line 1)

In [61]:
if = 30 
if

SyntaxError: invalid syntax (2069690960.py, line 1)

### 5> NO Length limit in python Identifier

In [62]:
_abc_def_gef = 20
_abc_def_gef

20

In [63]:
#a = True # hash is used for comment
a = True
a

True

In [65]:
a1 = true 
a1

NameError: name 'true' is not defined

In [66]:
True = a

SyntaxError: cannot assign to True (3097251383.py, line 1)

In [67]:
b = None
#b = none 
b

In [68]:
c = False
#c = false
c

False

In [69]:
# How to remember all keyword --- (Interview questions)
# Keyword is the module run from IMPORT class
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [77]:
# write a coding to create index of these keywords --- IMP ---

 import pandas as pd # pandas is the module to create a datafream
  df = pd.DataFrame(keyword.kwlist)
  df

# Always remember python Index begins with '0'

# ==============RESERVED WORDS COMPLTED ==============

IndentationError: unexpected indent (1670786352.py, line 3)

# PYTHON DATA TYPE

In [1]:
# what is other inbuild datatype available except 14 datatypes--

a = 10 
#print(a)          # To find the variable 
#print(a)          # To find the of variable
#type(a)  # To find the data type
id(a)            # To find an address of an object
#type(a)

140732482005720

In [2]:
b = 10
id(b)

140732482005720

In [3]:
c = 20 
id(c)

140732482006040

In [5]:
a = 10
b = 10
id(a)

140732482005720

In [9]:
a = 10
id (a)

140732482005720

In [7]:
a = 10
a 
id(a)

140732482005720

### INT DATA TYPE

In [11]:
a1 = 4809
#a
#print(a)
type(a1)

int

In [12]:
#2. Binary from(Base 2)
#a = 1111   # value is declared
b = 0b111 # Now pvm convert value to binary value
b
#a

7

In [14]:
 b_1 = 0b11
b_1

3

In [15]:
b2 = 0b22
b2

SyntaxError: invalid digit '2' in binary literal (3245495910.py, line 1)

In [17]:
b1 = 111
b1

111

In [18]:
c = 0b1111
c

15

In [19]:
b3 = 0b222
b3

SyntaxError: invalid digit '2' in binary literal (2807449182.py, line 1)

In [20]:
b = 0b11 # now pvm convert value to bnary value
b

3

In [21]:
#3. Octal form (Base 8)
#a = 111 # Value is the declared
b1 = 0o111 # Now pvm convert value to octal valve
b1 
#a

73

In [22]:
# final summary of INTEGRAL DATATYPES
a = 10
b = 0b10
c = 0o100
a
b
c

64

In [23]:
c1 = 0o33
c1

27

In [24]:
b

2

In [25]:
c

64

In [26]:
A = 78
type(A)

int

# FLOAT

In [27]:
b = 67.9
b
type(b)

float

In [28]:
b1 = 0b1
b1

1

In [29]:
c = 0o11.6
c

SyntaxError: invalid syntax (3270742341.py, line 1)

In [30]:
# float datatypes -
#b2 = 0b1111.22
#b2
#print(type(b))
#type(b2)
#b
d  = 0o4567.67 # this is octal
#e = 0b4567.89 # this is binary
d
#e
#b

SyntaxError: invalid syntax (1698281833.py, line 7)

In [31]:
f1 = 1E1
f1
#type(fi)

10.0

In [32]:
f1 = 1E1
type(f1)

float

In [33]:
#f = 1e4# only 'e' letter is allowed 
g = 2.4E3 # except 'E' you can't execute any programme 
g
#f
#type(g)

2400.0

In [34]:
g = 2.4E3
g

2400.0

In [35]:
g1 = 23e3
g1

23000.0

In [36]:
e = 5.e3
#type(e)
e

5000.0

# complex

In [38]:
x = 30+40j # assigned int value in real part & imaginary part
x
#type(x)

(30+40j)

In [39]:
type(x)

complex

In [41]:
y = 20.5+2.3j #assigned float value in real part & imaginary part
z = 30.8+20j #assigned float value in real part & imaginary part
y + z
y*z
y/z

(0.5022837821805671-0.25148297544192666j)

In [42]:
#c = 15+0b111j # Imaginary part cannot be binary,octal
d = 0o11+15j #Real part can be binary,octal
#c
d

(9+15j)

In [43]:
d2 = 0b111+15j
d2

(7+15j)

In [44]:
e1 = 4 + 15a
e1

SyntaxError: invalid decimal literal (1489874699.py, line 1)

In [45]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

(0.5609756097560976+0.04878048780487805j)

In [46]:
a = 2+3j
type(a)

complex

In [47]:
a1 = 10+20j # I want to know what thevalue of real part & imaginary part
a1.real    # complex data type will use in mathmetic concept npt that required for programming language
#a1.imaginary
a1.imag

20.0

# bool type

In [49]:
a = 10
b = 20
c = a>b
c

False

In [ ]:
True+True
True*True
True-True
True/True
False+False
False+True
True+False

In [ ]:
True/True

In [ ]:
True/False # error

# string datatype

In [50]:
naresh ='''good for datascience'''
naresh
#type(naresh)

'good for datascience'

In [ ]:
naresh ='''good for datascience'''
#type(careerera)# 'single quotes'
naresh
#type(naresh)

In [51]:
naresh2 = '''good 
             for datascience'''
#type(careeera)#' single  quotes'
naresh2 
#type(naresh)

'good \n             for datascience'

In [52]:
naresh = '''good for datascience'''
#type(careerera)#' single quotes'
naresh
#type(naresh)

'good for datascience'

In [54]:
naresh1 = '''good for 
 datascience'''
#type(naresh1)
naresh1

'good for \n datascience'

In [55]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [56]:
a = '''hallo
how 
are
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

'hallo\nhow \nare\nyou'

In [57]:
b = '''hello
    hi'''
b

'hello\n    hi'

In [ ]:
#single quote & double both are equal 
# ''' mutiline comment '''

In [ ]:
b =  '''('hello'
 'how'
       'are you')'''
     # ''' ''' ==> triple quotes are used for multiline comments
b 
    # is for commenting

## Type casting or Type conversion -
## int() -- float() -- complex() -- bool() --str()

In [58]:
 #int(): - you can convert from othere type to int type exceept complex 

int(10.123)  #float to int
#int(10+20j) # cannat converrt from complex to int
int(True)  #  Bool to int 
int(False)  # Bool to int
int('ten')  # amx is a character

ValueError: invalid literal for int() with base 10: 'ten'

In [59]:
# float(): --- convert from anyb type to float except complex

float(10)    # int to float
#float(10+20j)   # cannnot convert complex to float
float(False)    # boolean to float 
float('11')

11.0

In [60]:
# complex(): -- covert any other type to complex type 
# --- this only for 1 argument -----

complex(10)  # int to complex
complex(10.5) # float to complex
complex(True) # Bool to complex
complex(False)  #Bool to complex 
complex('10')   # string to complex 

# ------ Now we will check for 2 arguments ---
complex(10,20)   # int to complex
complex(10,20.5)   #float to complex 
#complex(10, 0b11j)
complex('10')    # string to complex , you cannot assign 2 argument

(10+0j)

In [61]:
a1 = 10+20j
type(a1)
a1.real
a1.imag

20.0

In [63]:
# Bool()  -(0 means false // 1 means non zero)

bool(0)     # int to bool
bool(-10)    # int to bool
bool(0.0)    # float to bool
bool(10+20j) # complex to bool
bool(0+1j)    #  complex to bool
bool(" ")   # string ti bool \(if argument is empty string then false)
bool('abc') # string to bool (if argument is not empty string than true)
bool(' ')  # space is also treared a character so non empty string

True

In [ ]:
bool(-10)

In [ ]:
bool(0+1j)

In [64]:
# str(): --- any type is possible in string

str(10)  # int to string 
str(10.50) # float to string
str(True)   #bool to string 
str(10+20j) # complex to string

'(10+20j)'

In [65]:
z1 = str(10)
z1

'10'

In [ ]:
x2 = 10
y2 = 10
z2 = 20
print(id(x2))
print(id(y2))
print(id(z2))

In [66]:
x = 10 #id - address of the memory location
y = 10 
print(id(x))
print(id(y))

140732482005720
140732482005720

In [67]:
id(y)

140732482005720

In [68]:
# is operator
x = 20 # x,y = 20
y = 20 
x is y 
y is x

True

In [69]:
x = True 
y = True 
z = False
x is y 
y is z
z is x
z is y

False