In [ ]:
# print is use for answer

In [1]:
a = 10
b = 20
a
b

20

In [2]:
a = 10
b = 20 
print(a)
print(b)

10
20

In [3]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [4]:
num1=20
num2=30
add=num1+num2
print(add)

50

# print result with string

In [5]:
num1 = 20
num = 30
add = num1+num2
print(add)

50

In [6]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [7]:
name='sweety'
age=20
city='Banglore'
print('My name is',name,'and i am',age,'years old from',city)

My name is sweety and i am 20 years old from Banglore

# print Format method

In [8]:
num1=20
num2=30
add=num1+num2
print('The addition of{} and {} is={}'.format(num1,num2,add))

The addition of20 and 30 is=50

In [10]:
name='honey'
age=20
city='bglr'
# hello my name is honey and i am 20 year old from bglr

In [11]:
print('hello my name is {},and i am {} years old from {}'.format(name,age,city))

hello my name is honey,and i am 20 years old from bglr

In [12]:
num1=100
num2=200
num3=400
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2))
avg1=round((num1+num2+num3)/3,2)
print('The average of {}, {} and {} is = {} or {}'.format(num1,num2,num3,avg,avg1)) # here we  can use round(avg,2) also

The average of 100, 200 and 400 is = 233.33333333333334 or 233.33

In [13]:
round(avg,2)

233.33

# More short forment method(string method)
 1.> Variable should be in curly braces 
 2.> and write everythings inside quots"
 3.> at starting simply add

In [14]:
num1=20
num2=40
add=num1+num2
print(f'The addition of {num1} and {num2} is ={add}') # always prefer this

The addition of 20 and 40 is =60

In [15]:
name='sweety'
age=21
city='hyd'
# 
print(f'My name is {name} and i am {age} years old from {city}')

My name is sweety and i am 21 years old from hyd

In [16]:
num1=20
num2=40
num3=50
avg=round((num1+num2+num3)/3,2) # or we can use avg=round(num1+num2+num3)/3,2)
# The average of num1 ,num2,num3 is =avg

In [18]:
print(f'The average of {num1}, {num2} and {num3} is = {avg}')

The average of 20, 40 and 50 is = 36.67

# Lete combine all
num1=10
num2=20
add=num1+num2
print('The additon of',num1, 'and',num2, 'is=',add)

print('The addition of {} and {} is = {}'.format(num1,num2,add))

print(f'The addition of {num1} and {num2} is = {add}')

# end statement

In [20]:
print('hello') # 1st statement
print('good morning') # 2nd statement
# i want  to print like:- hello good morning

hello
good morning

In [ ]:
#nhere we will use 'end' statement that joint line from end of string to starting of other string

print('hello',end=' ') # 1st statement
print('world good day') # 2nd statement

# separator

In [ ]:
1.> here one print statement only we use 
2.> inside one print statement we have multiple values
3.> we want ton seperate these multiple values with anythings

In [23]:
print('hai','hello','how are you',sep='--->')

hai--->hello--->how are you

In [24]:
print('hai','hello','how are you',sep='&')

hai&hello&how are you

In [25]:
print('hai','hello','how are you',sep='@')

hai@hello@how are you

In [26]:

print('hai','hello','how are you',sep=' ')

hai hello how are you

In [27]:
print(3,'.') # . is far from 3 so here we will use will use sep method

3 .

In [28]:
print(3,'.',sep='') #see now space settled (also use to remove space B/W word)

3.

In [29]:
print(1,2,end=' ')
print(3,'.',sep='')
#will print 123

1 2 3.